# config file for adhoc-minecraft
#
REMOTE_STORAGE_URL="something rsync compatible user@host:/dir"
REMOTE_STORAGE_USER="storage user acc"
REMOTE_STORAGE_PASS="storage user pass"
#
MC_OPS="username1"
MC_WHITELIST="username1,username2"
MC_WORLD_NAME="my_world_name"
#
SERVER_NONROOT_USER_PASS="<password>"